body {
    background-color: rgba(182, 30, 131, 0.16);
}
a{
    text-decoration: none;
    
    }

}
#Title-wrapper {
    color: rgba(179, 36, 36, 0.31);
    border: 1px solid #415A12;
}

.wrapper {
    color: blue;
    border: 1px solid #010505;
    padding: 30px;
    margin: 50px;


#header {
    border: 1px solid #19636B;
    padding: 30px;
    margin: 50px;
}

#Nav{
  color: #F1EE3C;
    border: 1px solid #3E1186;
    padding: 100px;
    margin: 200px;  
}



#BucketList{
    color: #F1EE3C;

}

#Footer-wrapper {

    background-color: rgba(240, 11, 163, 0.99);

}
